body, html {
    height: 100%;
    margin: 0;
  }
.background_image{
     background-image: url('/static/chat_app/img/background.jpg');
    /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
.input-group{
    position: relative;
    top:48%;
    left: 36%;

}
.main-grid-container{

    width: 100%;
    margin: 0 auto;

}
.video-grid-controller{

    display: grid;
    grid-auto-columns: auto auto auto auto;


}
.video-grid-controller:first-child{
    position: fixed;
    bottom: 10px;
    right: 10px;
}


video{
    border-radius: 15px;
    width: 250px;
    height: 250px;
    background-color: transparent;

}


.stream-controllers{
    width: auto;
    position: fixed;
    bottom: 20px;
    right: 33%;
    background: #454d55;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-radius: 10px;



}
.stream-controllers >div >button{
    font-size: 2rem;
    padding: 2px 30px;
}




